.add {
    background-image:url(/images/add.png) !important;
}
.edit {
    background-image:url(/images/edit.png) !important;
}
.delete {
    background-image:url(/images/delete.png) !important;
}
.refresh {
    background-image:url(/images/refresh.png) !important;
}
.find {
    background-image:url(/images/find.png) !important;
}
.clear {
    background-image:url(/images/clear.png) !important;
}